.paphos-events {
    margin-bottom: clamp-px(120, 240);
}

.paphos-events__container {
    display: flex;
    flex-direction: column;

}

.paphos-events__container-bottom {
    display: flex;
    flex-direction: column;
    position: relative;

    & .slider-wrap {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
    }
}

.paphos-events__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(16, 20);
    line-height: 140%;
    color: var(--black);
    max-width: 1195px;
    margin-bottom: clamp-px(23, 30);
    // &:not(:last-child) {
    //     margin-bottom: clamp-px(23, 30);
    // }
}

.strong {
    font-weight: 600;
}

.paphos-events__bg-wrap {
    background: url('../images/events/paphos-events-bg.png') 0 0/cover no-repeat;
    min-height: 680px;
    margin-left: -20px;
    margin-right: -20px;
}

.paphos-events__slider {}

.primary-pagination {
    display: flex;
    gap: clamp-px(8, 15);

    & .swiper-pagination-bullet {
        background-color: #ececec;
        opacity: 1;
        margin: 0 !important;
    }

    & .swiper-pagination-bullet-active {
        background-color: var(--accent-color);
    }
}

#paphos-events__pagination {
    display: none;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 10px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10px;
    background-color: rgb(116 116 116 / 72%);

    & .swiper-pagination-bullet {
        background-color: #ececec;
    }

    & .swiper-pagination-bullet-active {
        background-color: var(--accent-color);
    }

    @include respond-to("tab") {
        display: flex;
    }
}

.slider-btn__box {
    display: flex;
    align-items: center;
    gap: clamp-px(50, 90);
}

.slider-btn {
    width: clamp-px(60, 113);
    height: clamp-px(60, 113);
    border-radius: 100%;
    background-color: var(--1000-belyy);
    border: clamp-px(10, 15) solid var(--accent-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slider-btn__prev {
    &>svg {
        transition: 0.3s;
        position: relative;
        left: clamp-px(15, 30);
    }

    &:hover {
        &>svg {
            transition: 0.3s;
            transform: translateX(-6%);
        }
    }
}

.slider-btn__next {
    &>svg {
        position: relative;
        right: clamp-px(15, 30);
        transition: 0.3s;
    }

    &:hover {
        &>svg {
            transition: 0.3s;
            transform: translateX(6%);
        }
    }
}

.paphos-events__btn-box {
    position: absolute;
    z-index: 2;
    bottom: -70px;
    right: 120px;

    @include respond-to ("tab") {
        display: none;
    }
}

.paphos-events__card {
    min-height: clamp-px(380, 656);
    display: flex;

    @include respond-to("nout") {
        flex-direction: column;
    }
}

.paphos-events__card-left-col {
    flex: 0 1 50%;
    position: relative;
    border-radius: clamp-px(16, 20) 0 0 clamp-px(16, 20);
    overflow: hidden;

    @include respond-to("nout") {
        flex: 0 1 100%;
        border-radius: clamp-px(16, 20) clamp-px(16, 20) 0 0
    }
}

.paphos-events__card-right-col {
    flex: 0 1 50%;
    position: relative;
    border-radius: 0 clamp-px(16, 20) clamp-px(16, 20) 0;
    overflow: hidden;

    @include respond-to("nout") {
        flex: 0 1 300px;
        border-radius: 0 0 clamp-px(16, 20) clamp-px(16, 20);
    }
}

.paphos-events__card-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: clamp-px(10, 40) clamp-px(15, 60);

    & p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp-px(12, 28);
        line-height: 150%;
        color: var(--1000-belyy);

        &:not(:last-child) {
            margin-bottom: clamp-px(10, 25);
        }
    }

    & p.min {
        font-size: clamp-px(14, 24);
        margin-top: clamp-px(10, 20);
        margin-bottom: clamp-px(10, 40);
    }

    & p.star {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp-px(10, 15);
        color: var(--1000-belyy);

        &:not(:last-child) {
            margin-bottom: clamp-px(8, 12);
        }

        & sup {
            color: #fb7;
        }
    }
}

.paphos-events__card-title {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: clamp-px(26, 75);
    margin-bottom: clamp-px(8, 20);
}

.paphos-events__card-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(14, 24);
    line-height: 175%;
    color: var(--1000-belyy);
    margin-bottom: clamp-px(10, 49);
}