.small-banner {
    position: relative;
    padding-top: clamp-px(50, 120) !important;
    padding-bottom: clamp-px(50, 120) !important;
}

.small-banner__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.small-banner__container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: clamp-px(16, 20);
    padding: clamp-px(20, 40) clamp-px(15, 20);
    position: relative;
    z-index: 2;

}

.small-banner__text-box {
    display: flex;
    flex-direction: column;

    & p {
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;
        text-align: center;
        color: var(--1000-belyy);
    }

}

.small-banner__text-box-title {
    font-weight: 700;
    font-size: clamp(1.5rem, 0.8021091811rem + 2.9776674938vw, 3.75rem);
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 15px;
}