h1 {}

h2.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp-px(28, 60);
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: clamp-px(30, 40);
}

::-webkit-input-placeholder {
    font-family: var(--font-family);
}

:-ms-input-placeholder {
    font-family: var(--font-family);
}

:-moz-placeholder {
    font-family: var(--font-family);
}

::-moz-placeholder {
    font-family: var(--font-family);
}